<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
		<%= render 'layouts/styles' %>
  </head>
  <body>
  	<div class="container">
			<%= render 'layouts/hdr' %>
  		<section class="round">
  			<%= yield %>
  		</section>
  	</div>
  	<%= render 'layouts/ftr' %>
  </body>
</html>
